In [58]:
### Purchasing Analysis (Total)
# Number of Unique Items

import pandas as pd
import numpy as np
import os

path = os.path.join("HeroesofPymoli", "Resources", "purchase_data.csv")

df = pd.read_csv(path)
df

df.head()
df_count = pd.DataFrame({
    
    #Player Count
    "Player Count": [len(df["Item Name"].unique())]
})
df_count

   Player Count
0           179

In [60]:
### Purchasing Analysis

df.head()
df_summary = pd.DataFrame({
    
    #Number of Unique Items
    "Unique Items": [len(df["Item Name"].unique())],
    #Average Purchase Price
    "Average Price": [df["Price"].mean()],
    #Total Number of Purchases
    "Total Number of Purchases": [df["Purchase ID"].max()],
    #Total Revenue
    "Total Revenue": [df["Price"].sum()]
})
df_summary

   Unique Items  Average Price  Total Number of Purchases  Total Revenue
0           179       3.050987                        779        2379.77

In [33]:
### Gender Demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

df = pd.DataFrame({'Gender': ['Male', 'Female',
                            'Other/Non disclosed'],               
 })
df

                Gender
0                 Male
1               Female
2  Other/Non disclosed

In [61]:
df = pd.DataFrame({
    "Gender": ["Male", "Female",
                            "Other / Non disclosed"],
    
   df.groupby["Male", "Female", "Other / Non disclosed"].astype("category")
                })
df

SyntaxError: invalid syntax (<ipython-input-61-bbfa455102f9>, line 6)

In [76]:
#Identify the 5 most popular items by purchase count, then list (in a table):
 ## * Item ID
  #* Item Name
  #* Purchase Count
  #* Item Price
  #* Total Purchase Value

df =  df.groupby("Item Name")
df

In [80]:

Total_Number_of_Players = len(purchase_data["SN"].unique())
Total_Number_of_Players
Total = pd.DataFrame({"Total of Players": Total_Number_of_Players}, index=[0])
Total

NameError: name 'purchase_data' is not defined